In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'train.csv', 'gender_submission.csv']

In [2]:
#import data
test = pd.read_csv('../input/test.csv')
train = pd.read_csv('../input/train.csv')
dataset = [train,test]

In [ ]:
test.head()

In [ ]:
train.head()

In [ ]:
train.describe()

In [ ]:
train[['Survived','Sex']].groupby(['Sex'],as_index = False).mean().sort_values(by= 'Survived', ascending=False)

In [ ]:
train[['Survived','Pclass']].groupby(['Pclass'],as_index = False).mean().sort_values(by= 'Survived', ascending=False)

In [ ]:
train[['Survived','SibSp']].groupby(['SibSp'],as_index = False).mean().sort_values(by= 'Survived', ascending=False)

In [ ]:
train[['Survived','Parch']].groupby(['Parch'],as_index = False).mean().sort_values(by= 'Survived', ascending=False)

In [3]:
train = train.drop(['Ticket','Cabin','PassengerId'],axis = 1)
test = test.drop(['Ticket','Cabin'],axis = 1)
combine = [test,train]
train.head()

   Survived  Pclass   ...        Fare Embarked
0         0       3   ...      7.2500        S
1         1       1   ...     71.2833        C
2         1       3   ...      7.9250        S
3         1       1   ...     53.1000        S
4         0       3   ...      8.0500        S

[5 rows x 9 columns]

In [4]:
#convert Sex to 1 for women 0 for men
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map({'female': 1,'male': 0}).astype(int)

train.head()

   Survived  Pclass    ...        Fare  Embarked
0         0       3    ...      7.2500         S
1         1       1    ...     71.2833         C
2         1       3    ...      7.9250         S
3         1       1    ...     53.1000         S
4         0       3    ...      8.0500         S

[5 rows x 9 columns]

In [5]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
train = train.drop('Name',axis = 1)
test = test.drop('Name',axis = 1)
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0  22.0      1      0   7.2500        S      1
1         1       1    1  38.0      1      0  71.2833        C      3
2         1       3    1  26.0      0      0   7.9250        S      2
3         1       1    1  35.0      1      0  53.1000        S      3
4         0       3    0  35.0      0      0   8.0500        S      1

In [6]:
guess_ages = np.zeros((2,3))
guess_ages
for dataset in combine:
    for i in range(0, 2):
        for j in range(0, 3):
            guess_df = dataset[(dataset['Sex'] == i) & \
                                  (dataset['Pclass'] == j+1)]['Age'].dropna()

            # age_mean = guess_df.mean()
            # age_std = guess_df.std()
            # age_guess = rnd.uniform(age_mean - age_std, age_mean + age_std)

            age_guess = guess_df.median()

            # Convert random age float to nearest .5 age
            guess_ages[i,j] = int( age_guess/0.5 + 0.5 ) * 0.5
            
    for i in range(0, 2):
        for j in range(0, 3):
            dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                    'Age'] = guess_ages[i,j]

    dataset['Age'] = dataset['Age'].astype(int)

train['AgeBand'] = pd.cut(train['Age'], 5)

for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age']

train = train.drop(['AgeBand'], axis=1)
combine = [train, test]
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0  22.0      1      0   7.2500        S      1
1         1       1    1  38.0      1      0  71.2833        C      3
2         1       3    1  26.0      0      0   7.9250        S      2
3         1       1    1  35.0      1      0  53.1000        S      3
4         0       3    0  35.0      0      0   8.0500        S      1

In [7]:
for dataset in combine:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1

for dataset in combine:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1

train.head()

   Survived  Pclass  Sex   Age   ...    Embarked  Title  FamilySize IsAlone
0         0       3    0  22.0   ...           S      1           2       0
1         1       1    1  38.0   ...           C      3           2       0
2         1       3    1  26.0   ...           S      2           1       1
3         1       1    1  35.0   ...           S      3           2       0
4         0       3    0  35.0   ...           S      1           1       1

[5 rows x 11 columns]

In [8]:
train = train.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
test = test.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
combine = [train, test]

train.head()

   Survived  Pclass  Sex   Age     Fare Embarked  Title  IsAlone
0         0       3    0  22.0   7.2500        S      1        0
1         1       1    1  38.0  71.2833        C      3        0
2         1       3    1  26.0   7.9250        S      2        1
3         1       1    1  35.0  53.1000        S      3        0
4         0       3    0  35.0   8.0500        S      1        1

In [9]:
freq_port = train.Embarked.dropna().mode()[0]
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)
train[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean().sort_values(by='Survived', ascending=False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [10]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

train.head()

   Survived  Pclass  Sex   Age     Fare  Embarked  Title  IsAlone
0         0       3    0  22.0   7.2500         0      1        0
1         1       1    1  38.0  71.2833         1      3        0
2         1       3    1  26.0   7.9250         0      2        1
3         1       1    1  35.0  53.1000         0      3        0
4         0       3    0  35.0   8.0500         0      1        1

In [11]:
test['Fare'].fillna(test['Fare'].dropna().median(), inplace=True)
train['FareBand'] = pd.qcut(train['Fare'], 4)
for dataset in combine:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)

train = train.drop(['FareBand'], axis=1)
combine = [train, test]
    
train.head(5)

   Survived  Pclass  Sex   Age  Fare  Embarked  Title  IsAlone
0         0       3    0  22.0     0         0      1        0
1         1       1    1  38.0     3         1      3        0
2         1       3    1  26.0     1         0      2        1
3         1       1    1  35.0     3         0      3        0
4         0       3    0  35.0     1         0      1        1

In [ ]:
test.head()

In [12]:
X_train = train.drop("Survived", axis=1)
Y_train = train["Survived"]
X_test  = test.drop("PassengerId", axis=1).copy()

**XGBoost**

In [15]:
import time
import math
import seaborn as sns
import pandas as pd
import numpy as np
import scipy as sci
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)

from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from hyperopt import hp, tpe, Trials, STATUS_OK
from hyperopt import fmin

from sklearn.metrics import roc_auc_score, accuracy_score
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt
plt.style.use('fivethirtyeight') 
%matplotlib inline
def org_results(trials, hyperparams, model_name):
    fit_idx = -1
    for idx, fit  in enumerate(trials):
        hyp = fit['misc']['vals']
        xgb_hyp = {key:[val] for key, val in hyperparams.items()}
        if hyp == xgb_hyp:
            fit_idx = idx
            break
            
    train_time = str(trials[-1]['refresh_time'] - trials[0]['book_time'])
    acc = round(trials[fit_idx]['result']['accuracy'], 3)
    train_auc = round(trials[fit_idx]['result']['train auc'], 3)
    test_auc = round(trials[fit_idx]['result']['test auc'], 3)

    results = {
        'model': model_name,
        'parameter search time': train_time,
        'accuracy': acc,
        'test auc score': test_auc,
        'training auc score': train_auc,
        'parameters': hyperparams
    }
    return results

In [16]:
def org_results(trials, hyperparams, model_name):
    fit_idx = -1
    for idx, fit  in enumerate(trials):
        hyp = fit['misc']['vals']
        xgb_hyp = {key:[val] for key, val in hyperparams.items()}
        if hyp == xgb_hyp:
            fit_idx = idx
            break
            
    train_time = str(trials[-1]['refresh_time'] - trials[0]['book_time'])
    acc = round(trials[fit_idx]['result']['accuracy'], 3)
    train_auc = round(trials[fit_idx]['result']['train auc'], 3)
    test_auc = round(trials[fit_idx]['result']['test auc'], 3)

    results = {
        'model': model_name,
        'parameter search time': train_time,
        'accuracy': acc,
        'test auc score': test_auc,
        'training auc score': train_auc,
        'parameters': hyperparams
    }
    return results

In [17]:
ibm_df = train.copy()
description = pd.DataFrame(index=['observations(rows)', 'percent missing', 'dtype', 'range'])
numerical = []
categorical = []
for col in ibm_df.columns:
    obs = ibm_df[col].size
    p_nan = round(ibm_df[col].isna().sum()/obs, 2)
    num_nan = f'{p_nan}% ({ibm_df[col].isna().sum()}/{obs})'
    dtype = 'categorical' if ibm_df[col].dtype == object else 'numerical'
    numerical.append(col) if dtype == 'numerical' else categorical.append(col)
    rng = f'{len(ibm_df[col].unique())} labels' if dtype == 'categorical' else f'{ibm_df[col].min()}-{ibm_df[col].max()}'
    description[col] = [obs, num_nan, dtype, rng]

pd.set_option('display.max_columns', 100)
display(description)
display(ibm_df.head())
xgb_data = ibm_df.copy()
xgb_data.drop(columns = categorical, inplace=True)


y_df = Y_train.copy()
x_df = X_train.copy()
train_x, test_x, train_y, test_y = train_test_split(x_df, y_df, test_size=0.20)

def xgb_objective(space, early_stopping_rounds=50):
    
    model = XGBClassifier(
        learning_rate = space['learning_rate'], 
        n_estimators = int(space['n_estimators']), 
        max_depth = int(space['max_depth']), 
        min_child_weight = space['m_child_weight'], 
        gamma = space['gamma'], 
        subsample = space['subsample'], 
        colsample_bytree = space['colsample_bytree'],
        objective = 'binary:logistic'
    )

    model.fit(train_x, train_y, 
              eval_set = [(train_x, train_y), (test_x, test_y)],
              eval_metric = 'auc',
              early_stopping_rounds = early_stopping_rounds,
              verbose = False)
     
    predictions = model.predict(test_x)
    test_preds = model.predict_proba(test_x)[:,1]
    train_preds = model.predict_proba(train_x)[:,1]
    
    xgb_booster = model.get_booster()
    train_auc = roc_auc_score(train_y, train_preds)
    test_auc = roc_auc_score(test_y, test_preds)
    accuracy = accuracy_score(test_y, predictions) 

    return {'status': STATUS_OK, 'loss': 1-test_auc, 'accuracy': accuracy,
            'test auc': test_auc, 'train auc': train_auc
           }
space = {
    'n_estimators': hp.quniform('n_estimators', 50, 1000, 25),
    'max_depth': hp.quniform('max_depth', 1, 12, 1),
    'm_child_weight': hp.quniform('m_child_weight', 1, 6, 1),
    'gamma': hp.quniform('gamma', 0.5, 1, 0.05),
    'subsample': hp.quniform('subsample', 0.5, 1, 0.05),
    'learning_rate': hp.loguniform('learning_rate', np.log(.001), np.log(.3)),
    'colsample_bytree': hp.quniform('colsample_bytree', .5, 1, .1)
}
trials = Trials()
xgb_hyperparams = fmin(fn = xgb_objective, 
                 max_evals = 1000, 
                 trials = trials,
                 algo = tpe.suggest,
                 space = space
                )
xgb_results = org_results(trials.trials, xgb_hyperparams, 'XGBoost')
display(xgb_results)

,Survived,Pclass,Sex,Age,Fare,Embarked,Title,IsAlone
observations(rows),891,891,891,891,891,891,891,891
percent missing,0.0% (0/891),0.0% (0/891),0.0% (0/891),0.2% (177/891),0.0% (0/891),0.0% (0/891),0.0% (0/891),0.0% (0/891)
dtype,numerical,numerical,numerical,numerical,numerical,numerical,numerical,numerical
range,0-1,1-3,0-1,0.42-80.0,0-3,0-2,1-5,0-1

   Survived  Pclass  Sex   Age  Fare  Embarked  Title  IsAlone
0         0       3    0  22.0     0         0      1        0
1         1       1    1  38.0     3         1      3        0
2         1       3    1  26.0     1         0      2        1
3         1       1    1  35.0     3         0      3        0
4         0       3    0  35.0     1         0      1        1

100%|██████████| 1000/1000 [04:15<00:00,  2.70it/s, best loss: 0.08891242937853105]

{'model': 'XGBoost',
 'parameter search time': '0:04:15.672000',
 'accuracy': 0.86,
 'test auc score': 0.911,
 'training auc score': 0.928,
 'parameters': {'colsample_bytree': 0.6000000000000001,
  'gamma': 0.75,
  'learning_rate': 0.2998114604662141,
  'm_child_weight': 1.0,
  'max_depth': 5.0,
  'n_estimators': 125.0,
  'subsample': 0.75}}

In [ ]:
#tutor at https://www.kaggle.com/startupsci/titanic-data-science-solutions
#for xgboost https://www.kaggle.com/nholloway/catboost-v-xgboost-v-lightgbm

LighGBM

In [26]:
lgb_data = ibm_df.copy()
lgb_data.drop(columns = categorical, inplace=True)


y_df = Y_train.copy()
x_df = X_train.copy()
train_x, test_x, train_y, test_y = train_test_split(x_df, y_df, test_size=0.20)

def lgb_objective(space, early_stopping_rounds=50):
    
    lgbm = LGBMClassifier(
        learning_rate = space['learning_rate'],
        n_estimators= int(space['n_estimators']), 
        max_depth = int(space['max_depth']),
        num_leaves = int(space['num_leaves']),
        colsample_bytree = space['colsample_bytree'],
        feature_fraction = space['feature_fraction'],
        reg_lambda = space['reg_lambda'],
        reg_alpha = space['reg_alpha'],
        min_split_gain = space['min_split_gain']
    )
    
    lgbm.fit(train_x, train_y, 
            eval_set = [(train_x, train_y), (test_x, test_y)],
            early_stopping_rounds = early_stopping_rounds,
            eval_metric = 'auc',
            verbose = False)
    
    predictions = lgbm.predict(test_x)
    test_preds = lgbm.predict_proba(test_x)[:,1]
    train_preds = lgbm.predict_proba(train_x)[:,1]
    
    train_auc = roc_auc_score(train_y, train_preds)
    test_auc = roc_auc_score(test_y, test_preds)
    accuracy = accuracy_score(test_y, predictions)  

    return {'status': STATUS_OK, 'loss': 1-test_auc, 'accuracy': accuracy,
            'test auc': test_auc, 'train auc': train_auc
           }

trials = Trials()
space = {
    'learning_rate': hp.loguniform('learning_rate', np.log(0.001), np.log(0.3)),
    'n_estimators': hp.quniform('n_estimators', 50, 1200, 25),
    'max_depth': hp.quniform('max_depth', 1, 15, 1),
    'num_leaves': hp.quniform('num_leaves', 10, 150, 1),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 1.0), 
    'feature_fraction': hp.uniform('feature_fraction', .3, 1.0),
    'reg_lambda': hp.uniform('reg_lambda', 0.0, 1.0),
    'reg_alpha': hp.uniform('reg_alpha', 0.0, 1.0),
    'min_split_gain': hp.uniform('min_split_gain', 0.0001, 0.1)
}

lgb_hyperparams = fmin(fn = lgb_objective, 
                 max_evals = 1000, 
                 trials = trials,
                 algo = tpe.suggest,
                 space = space
                 )

lgb_results = org_results(trials.trials, lgb_hyperparams, 'LightGBM')
display(lgb_results)

100%|██████████| 1000/1000 [03:36<00:00,  3.53it/s, best loss: 0.11159214267252526]

{'model': 'LightGBM',
 'parameter search time': '0:03:36.652000',
 'accuracy': 0.832,
 'test auc score': 0.888,
 'training auc score': 0.962,
 'parameters': {'colsample_bytree': 0.7580834270375718,
  'feature_fraction': 0.9652403253301156,
  'learning_rate': 0.15299755313060168,
  'max_depth': 5.0,
  'min_split_gain': 0.005384437360513224,
  'n_estimators': 1075.0,
  'num_leaves': 112.0,
  'reg_alpha': 0.08885485989838822,
  'reg_lambda': 0.5426618485087664}}

CATboost

In [19]:
cbo_data = ibm_df.copy()

for cat in categorical:
    cbo_data[cat] = cbo_data[cat].astype('category').cat.codes

y_df = Y_train.copy()
x_df = X_train.copy()
cboost_cat = categorical[1:]
train_x, test_x, train_y, test_y = train_test_split(x_df, y_df, test_size=0.20)
cat_dims = [train_x.columns.get_loc(name) for name in cboost_cat]     
    
def cat_objective(space, early_stopping_rounds=30):
    
    cboost = CatBoostClassifier(
    eval_metric  = 'AUC', 
    learning_rate = space['learning_rate'],
    iterations = space['iterations'],
    depth = space['depth'],
    l2_leaf_reg = space['l2_leaf_reg'],
    border_count = space['border_count']
    )
    
    cboost.fit(train_x, train_y, 
              eval_set = [(train_x, train_y), (test_x, test_y)],
              early_stopping_rounds = early_stopping_rounds,
              cat_features = cat_dims, 
              verbose = False)
    
    predictions = cboost.predict(test_x)
    test_preds = cboost.predict_proba(test_x)[:,1]
    train_preds = cboost.predict_proba(train_x)[:,1]    

    train_auc = roc_auc_score(train_y, train_preds)
    test_auc = roc_auc_score(test_y, test_preds)
    accuracy = accuracy_score(test_y, predictions)
    
    return {'status': STATUS_OK, 'loss': 1-test_auc, 'accuracy': accuracy,
            'test auc': test_auc, 'train auc': train_auc}
    
trials = Trials()
space = {
    'learning_rate': hp.loguniform('learning_rate', np.log(0.005), np.log(0.3)),
    'iterations': hp.quniform('iterations', 25, 1000, 25),
    'depth': hp.quniform('depth', 1, 16, 1),
    'border_count': hp.quniform('border_count', 30, 220, 5), 
    'l2_leaf_reg': hp.quniform('l2_leaf_reg', 1, 10, 1)
}

cboost_hyperparams = fmin(fn = cat_objective, 
                 max_evals = 1000, 
                 trials = trials,
                 algo = tpe.suggest,
                 space = space
                 )

cbo_results = org_results(trials.trials, cboost_hyperparams, 'CatBoost')
display(cbo_results)

100%|██████████| 1000/1000 [22:58<00:00,  1.52s/it, best loss: 0.09139375476009137]

{'model': 'CatBoost',
 'parameter search time': '0:22:58.772000',
 'accuracy': 0.832,
 'test auc score': 0.909,
 'training auc score': 0.957,
 'parameters': {'border_count': 200.0,
  'depth': 12.0,
  'iterations': 500.0,
  'l2_leaf_reg': 1.0,
  'learning_rate': 0.2344771943490483}}

In [27]:
final_results = pd.DataFrame([xgb_results, lgb_results, cbo_results])
display(final_results)

,accuracy,model,parameter search time,parameters,test auc score,training auc score
0,0.860,XGBoost,0:04:15.672000,"{'colsample_bytree': 0.6000000000000001, 'gamm...",0.911,0.928
1,0.832,LightGBM,0:03:36.652000,"{'colsample_bytree': 0.7580834270375718, 'feat...",0.888,0.962
2,0.832,CatBoost,0:22:58.772000,"{'border_count': 200.0, 'depth': 12.0, 'iterat...",0.909,0.957

LightGBM shows best perfomance

In [28]:
display(xgb_results['parameters'])

{'colsample_bytree': 0.6000000000000001,
 'gamma': 0.75,
 'learning_rate': 0.2998114604662141,
 'm_child_weight': 1.0,
 'max_depth': 5.0,
 'n_estimators': 125.0,
 'subsample': 0.75}

In [29]:
params = xgb_results['parameters']
params.update({ 'm_child_weight': 1,
              'n_estimators': 125,
               'max_depth': 5,
              })

NEO = XGBClassifier(**params)

NEO.fit(X_train, Y_train, 
        verbose = False)
    
Y_pred = NEO.predict(X_test)

submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y_pred
    })

In [30]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         1

In [31]:
#save
submission.to_csv('submission.csv')